BasedOnStyle: WebKit
Language: Cpp
Standard: Latest # c++11 20
SortIncludes: Never
SortUsingDeclarations: true
ColumnLimit: 80
IndentWidth: 4
ContinuationIndentWidth: 4

AlignOperands: Align
AlignEscapedNewlines: Left
AlignAfterOpenBracket: Align
AlignTrailingComments: true
AlignArrayOfStructures: None
AlignConsecutiveAssignments: false
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true

BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: NonAssignment
BreakTemplateDeclarations: Leave
BreakFunctionDefinitionParameters: false
PointerAlignment: Right
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeCaseColon: false
SpaceBeforeParens: ControlStatements
SpaceBeforeSquareBrackets: false
SpacesInContainerLiterals: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: true
SpacesBeforeTrailingComments: 2
SkipMacroDefinitionBody: true

IndentCaseLabels: false
IndentPPDirectives: None

Cpp11BracedListStyle: true
PackConstructorInitializers: CurrentLine
BinPackParameters: OnePerLine
BinPackArguments: false
BinPackLongBracedList: true
CompactNamespaces: false

RemoveEmptyLinesInUnwrappedLines: true

# Strongly discourage breaking after the return type
PenaltyBreakAssignment: 1000
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyReturnTypeOnItsOwnLine: 1000

BreakBeforeBraces: Attach
# BreakBeforeBraces: Custom
# BraceWrapping:
#   AfterClass: false
#   AfterControlStatement: false
#   AfterEnum: false
#   AfterFunction: false
#   AfterNamespace: false
#   AfterStruct: false
#   AfterUnion: false
#   AfterExternBlock: false
#   BeforeCatch: false
#   BeforeElse: false
#   BeforeWhile: false
#   IndentBraces: false
#   SplitEmptyFunction: false
#   SplitEmptyRecord: false
#   SplitEmptyNamespace: false
